<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets"
    xmlns="http://www.w3.org/ns/widgets" id="http://pyrrha-platform.org/PyrrhaWatchApp" version="1.0.0" viewmodes="maximized">
    <tizen:application id="0Z4pEP3FTf.PyrrhaWatchApp" package="0Z4pEP3FTf" required_version="5.5"/>
    <author href="https://pyrrha-platform.org/" email="krook@us.ibm.com">Daniel Krook</author>
    <content src="index.html"/>
    <description>The watch app that accompanies the Pyrrha device and smartphone.</description>
    <feature name="http://tizen.org/feature/screen.size.normal"/>
    <icon src="pyrrha-watch-icon.png"/>
    <license href="https://github.com/Pyrrha-Platform/Pyrrha-Watch-App/blob/master/LICENSE">Apache 2</license>
    <tizen:metadata key="AccessoryServicesLocation" value="/res/xml/accessoryservices.xml"/>
    <name>Pyrrha</name>
    <tizen:privilege name="http://developer.samsung.com/tizen/privilege/accessoryprotocol"/>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/bluetooth"/>
    <tizen:privilege name="http://tizen.org/privilege/notification"/>
    <tizen:profile name="wearable"/>
    <tizen:setting background-support="disable" encryption="disable" hwkey-event="enable"/>
</widget>
